%ul.mypage-left
  %li.mypage-left__list
    = link_to "投稿", users_show_path(current_user.id)
  %li.mypage-left__list
    = link_to "#" do
      ブックマーク
  %li.mypage-left__list
    = link_to "#" do
      閲覧履歴
  %li.mypage-left__list
    = link_to "#" do
      設定