.mypage-user

  .mypage-user__image
    %i.fas.fa-camera
    .myuser__image{style: "background-image: url(#{@user.image_avatar});"}
    
  .mypage-user__name.bold
    = @nickname
    .mypage-user__sub
      さんのマイページ