.blank-content

.mypage-body
  .mypage-user
    .mypage-user__image
    .mypage-user__name.bold
      = @nickname
      .mypage-user__sub
        さんのマイページ

  .mypage-box
    .mypage-post
      .mypage-post__title.bold
        投稿
      .mypage-post__content

    .mypage-left
      .mypage-left__list
        投稿
      .mypage-left__list
        ブックマーク
      .mypage-left__list
        閲覧履歴
      .mypage-left__list
        ユーザー設定

  
.blank-content