.blank-content

.mypage-body
  = render partial: "mypage-user"

  .mypage-box
    .mypage-post
      .mypage-post__title.bold
        投稿
      .mypage-post__content
        .contents.row
          = render partial: "books/bookpost"

    = render partial: 'mypage-left'

  = render partial: 'history'