.blank-content

.mypage-body
  .mypage-user
    .mypage-user__image
      %i.fas.fa-camera
    .mypage-user__name.bold
      = @nickname
      .mypage-user__sub
        さんのマイページ

  .mypage-box
    .mypage-post
      .mypage-post__title.bold
        投稿
      .mypage-post__content
        - @books.each do |book|
          .content-post{:style => "background-image: url(#{book.image});"}

    = render partial: 'mypage-left'
  
.blank-content