.blank-content

.mypage-body
  = render partial: "mypage-user"

  .mypage-box
    .mypage-post
      .mypage-post__title.bold
        投稿
      .mypage-post__content
        .contents.row
          = render partial: "books/bookpost"

  -# <!-- Slim -->
  -# = @recently_visit.nil? ? "閲覧履歴はありません" : @recently.each {|book| book }
  -#   - @recently_visit.each do |book|
  -#     = link_to(Product.find_by('product_name=?', book).product_name, product_detail_path(book)) unless @recently.nil?
  -#        br/

    = render partial: 'mypage-left'