.blank-content

.mypage-body
  .mypage-user
    .mypage-user__image
    .mypage-user__name.bold
      = @nickname
      .mypage-user__sub
        さんのマイページ

  .mypage-box
    .mypage-post
      .mypage-post__title.bold
        投稿
      .mypage-post__content

    .mypage-left
  
.blank-content