.contents {
  background-color: $back-white;
  height: 100%;
  width: 100%;
  
  .book-sh__page {
    width: 700px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: $back-white;
    padding: 20px;
    border: 2px solid $form-border;
    border-radius: 4px;
  }

  .book-sh__title {
    color: rgb(168, 168, 168);
    padding-top: 10px;
    text-align: center;
    font-size: 12px;
    font-weight: 200;
  }

  .book-sh__name {
    height: 50px;
    margin-bottom: 20px;
    border-bottom: 1px solid $thin-border;
    text-align: center;
    color: $text-black;
    line-height: 45px;
    font-size: 30px;
    font-weight: 650;
    a {
      display: flex;
      .book-sh__usertitle {
        display: flex;
        font-size: 14px;
        .book-sh__usernick {
          font-size: 16px;
          padding-left: 3px;
        }
      }
    }
  }

  .book-sh__image {
    height: 300px;
    width: 225px;
    color: $text-white;
    background-size: cover;
    background-position: center;
    border-radius: 3px;
    margin: 10px 10px 2px;
    border-radius: 3%;
    margin: 0 auto;
  }

  .book-sh__table {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    background-color: #ffe0e0;
    border: 1px solid $form-border;
    border-radius: 4px;
  }

  .data-list {
    height: 60px;
    width: 180px;
    padding-left: 10px;
    border: 1px solid $thin-border;
    color: $text-black;
    line-height: 60px;
    background-color: $item-back;
  }

  .data-list__long {
    height: 200px;
    width: 180px;
    padding-left: 10px;
    border: 1px solid $thin-border;
    color: $text-black;
    line-height: 60px;
    background-color: $item-back;
  }

  .detail-list {
    height: 60px;
    width: 460px;
    padding-left: 10px;
    background-color: $back-white;
    border: 1px solid $thin-border;
    color: $text-black;
    line-height: 60px;
    table-layout: fixed;
  }

  .detail-list__long {
    height: 200px;
    width: 460px;
    padding: 10px;
    background-color: $back-white;
    border: 1px solid $thin-border;
    color: $text-black;
    line-height: 23px;
    overflow-wrap : break-word;
  }
}