.contents.row {
  height: 453px;
  width: 247px;
  border: 2px solid #ffdede;
  border-radius: 3%;
  .content-post {
    position: relative;
    height: 300px;
    width: 225px;
    color: #fff;
    background-size: cover;
    background-position: center;
    border-radius: 3px;
    margin: 10px 10px 2px;
    border-radius: 3%;
  }
  .content-post__list {
    position: relative;
    display: flex;
    margin-left: 10px;
    .post-left {
      height: 25px;
      width: 65px;
      padding-left: 10px;
      border: 1px solid #ffe5e5;
      line-height: 25px;
      color: #484848;
      font-size: 12px;
      background-color: #ffefef;
    }
    .post-left__long {
      height: 77px;
      width: 65px;
      padding-left: 10px;
      border: 1px solid #ffe5e5;
      line-height: 75px;
      font-size: 12px;
      background-color: #ffefef;
    }
  }
  .post-right {
    height: 25px;
    width: 160px;
    padding-left: 10px;
    border: 1px solid #ffe5e5;
    line-height: 25px;
    background-color: #fff6f6;
    a {
      color: #484848;
      :hover { 
        color: #484848; background-color: rgb(255, 232, 232);
      }
    }
  }
  .post-right__long {
    border: 1px solid #ffe5e5;
    background-color: #fff6f6;
    .post-right__genre {
      height: 25px;
      width: 158px;
      padding-left: 10px;
      line-height: 25px;
      color: #484848;
    }
  }
}