.box {
  width: 100%;
  height: 300px;
  background: lighten(#f0f4c3, 10%);
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.wave {
  opacity: .4;
  position: absolute;
  top: 3%;
  left: 50%;
  background: rgb(170, 255, 0);
  width: 100%;
  height: 500px;
  margin-left: -250px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 3000ms infinite linear;
}

.wave.-three {
  animation: drift 5000ms infinite linear;
}

.wave.-two {
  animation: drift 7000ms infinite linear;
  opacity: .1;
  background: rgb(255, 183, 0);
}

.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(rgb(238, 136, 136), 1), rgba(#def, 0) 80%, rgba(white, .5));
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

.title {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  line-height: 300px;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: white;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  letter-spacing: .4em;
  font-size: 24px;
  text-shadow: 0 1px 0 white;
  text-indent: .3em;
}
@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}

.title-line {
  position: absolute;
  left: 0;
  top: 170px;
  width: 100%;
  z-index: 1;
  text-align: center;
  color: white;
  font-size: 16px;
  border-bottom: 1px white;
  text-shadow: 0 1px 0 white;
}

.sub-title {
  position: absolute;
  left: 0;
  top: 190px;
  width: 100%;
  z-index: 1;
  text-align: center;
  color: white;
  font-size: 16px;
  text-shadow: 0 1px 0 #ffc8c8;
}

.book-post__contents {
  margin: 10px;
  .book-post__new {
    background: radial-gradient(#ee8888, white);
    font-family: 'Playfair Display', serif;
    width: 160px;
    text-align: center;
    font-size: 17px;
    line-height: 70px;
    color: #fff;
    text-shadow: 0 6px 0 rgba(0, 0, 0, 0.1);
    border-radius: 15%;
    margin: auto;
    margin-bottom: 20px;
  }
  .contents.row {
    height: 453px;
    width: 247px;
    border: 2px solid #ffdede;
    border-radius: 3%;
    .content-post {
      position: relative;
      height: 300px;
      width: 225px;
      color: #fff;
      background-size: cover;
      background-position: center;
      border-radius: 3px;
      margin: 10px 10px 2px;
      border-radius: 3%;
    }
    .content-post__list {
      position: relative;
      display: flex;
      margin-left: 10px;
      .post-left {
        height: 25px;
        width: 60px;
        padding-left: 10px;
        border: 1px solid #ffe5e5;
        line-height: 25px;
        font-size: 10px;
        background-color: #ffefef;
      }
      .post-left__long {
        height: 77px;
        width: 60px;
        padding-left: 10px;
        border: 1px solid #ffe5e5;
        line-height: 75px;
        font-size: 10px;
        background-color: #ffefef;
      }
    }
    .post-right {
      height: 25px;
      width: 165px;
      padding-left: 10px;
      border: 1px solid #ffe5e5;
      line-height: 25px;
      background-color: #fff6f6;
      a {
        color: #000;
        :hover { 
          color: #000; background-color: rgb(255, 232, 232);
        }
      }
    }
    .post-right__long {
      border: 1px solid #ffe5e5;;
      background-color: #fff6f6;
      .post-right__genre {
        height: 25px;
        width: 163px;
        padding-left: 10px;
        line-height: 25px;
      }
    }
  }
}

a {
  .post-btn {
    width: 120px;
    background: radial-gradient(#ff9696, #ff3535);
    text-align: center;
    border-radius: 15%;
    bottom: 32px;
    right: 32px;
    position: fixed;
    padding: 15px;
    .post-btn__text{
      color: #fff;
      display: block;
      font-size: 16px;
      text-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
      margin-bottom: 5px;
    }
  }
  .post-btn:hover {
    transform: translateY(-0.1875em);
  }
}

.footer-line {
  height: 100px;
  width: 100%;
  background: linear-gradient(white, #ee8888) fixed;
}

footer {
  background: linear-gradient(white, #ee8888) fixed;
  position: relative;
  height: 100px;
  width: 100%;
  color: #f5f5f5;
  .footer-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    a {
      color: #fff;
    }
  }
  .footer-item :hover {
    opacity: 0.6;
  }
}