.box {
  width: 100%;
  height: 300px;
  background: lighten(#f0f4c3, 10%);
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.wave {
  opacity: .4;
  position: absolute;
  top: 3%;
  left: 50%;
  background: rgb(170, 255, 0);
  width: 100%;
  height: 500px;
  margin-left: -250px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 3000ms infinite linear;
}

.wave.-three {
  animation: drift 5000ms infinite linear;
}

.wave.-two {
  animation: drift 7000ms infinite linear;
  opacity: .1;
  background: rgb(255, 183, 0);
}

.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(rgb(238, 136, 136), 1), rgba(#def, 0) 80%, rgba(white, .5));
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

.title {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  line-height: 300px;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: $text-white;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  letter-spacing: .4em;
  font-size: 30px;
  text-shadow: 0 1px 0 white;
  text-indent: .3em;
}
@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}

.title-line {
  position: absolute;
  left: 0;
  top: 170px;
  width: 100%;
  z-index: 1;
  text-align: center;
  color: $text-white;
  font-size: 20px;
  border-bottom: 1px white;
  text-shadow: 0 1px 0 white;
}

.sub-title {
  position: absolute;
  left: 0;
  top: 195px;
  width: 100%;
  z-index: 1;
  text-align: center;
  color: $text-white;
  font-size: 20px;
  text-shadow: 0 1px 0 #ffc8c8;
}

.top-handling {
  width: 100%;
  padding: 60px 100px;
  margin: 30px 0;
  background-color: white;
  display: flex;
  .top-handling__contents {
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    .top-handling__list {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 0 10px;
      .top-handling__iamge{
        width: 70%;
        background-color: #fff5f5;
        margin: 0 auto;
        line-height: 120px;
      }
      .top-handling__sub{
        color: $text-black;
        margin: 38px 0 10px;
        font-size: 19px;
        font-weight: bold;
      }
    }
  }
}

.book-post__contents {
  margin: 30px 10px 10px;
  .book-post__new {
    background: radial-gradient(#ee8888, white);
    font-family: 'Playfair Display', serif;
    width: 160px;
    text-align: center;
    font-size: 17px;
    line-height: 70px;
    color: $text-white;
    text-shadow: 0 6px 0 rgba(0, 0, 0, 0.1);
    border-radius: 15%;
    margin: auto;
    margin-bottom: 40px;
  }
}

a {
  .post-btn {
    width: 120px;
    background: radial-gradient(#ff9696, #ff3535);
    text-align: center;
    border-radius: 30%;
    bottom: 32px;
    right: 32px;
    position: fixed;
    padding: 15px;
    .post-btn__text{
      color: $text-white;
      display: block;
      font-size: 16px;
      text-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
      margin-bottom: 5px;
    }
    .post-btn__icon{
      .post-btn__image{
        width: 60%;
        mix-blend-mode: screen;
      }
    }
  }
  .post-btn:hover {
    transform: translateY(-0.1875em);
  }
}

.footer-line {
  height: 100px;
  width: 100%;
  background: linear-gradient(white, #ee8888) fixed;
  margin-top: 40px;
}

footer {
  background: linear-gradient(white, #ee8888) fixed;
  position: relative;
  height: 100px;
  width: 100%;
  color: $header-text;
  .footer-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    a {
      color: $text-white;
    }
  }
  .footer-item :hover {
    opacity: 0.6;
  }
}