.container {
  .container-user {
    border: 2px solid #ff7f7f;
    border-radius: 10px;
    padding-bottom: 35px;
    margin: 10px;
    .comment-send {
      display: flex;
      justify-content: center;
      .comment-box {
        width: 550px;
        height: 40px;
        min-height: 40px;
        resize: vertical;
        border: 1px solid $form-border;
        border-radius: 4px;
        margin: 25px 5px 25px 0;
        padding: 9px;
      }
      .comment-submit {
        width: 100px;
        height: 40px;
        border-radius: 4px;
        border: 1px solid $submit-border;
      }
      .comment-box:focus {
        border: 2px solid $focus-border;
        outline: 0;
      }
    }
    .not-user {
      text-align: center;
      color: $notuser-text;
      font-size: 16px;
      padding-top: 35px;
      &__2 {
        margin-top: 7px;
        text-align: center;
        color: $notuser-text;
        font-size: 16px;
      }
    }

    .comment-userlog {
      margin-top: 24px;
      font-size: 20px;
      display: flex;
      justify-content: center;
      height: 37px;
      &__login{
        margin-right: 50px;
        a{
          text-decoration: none;
          color: $header-text;
          background: radial-gradient($btn-pink, $btn-red);
          padding: 13px;
          border-radius: 10px;
        }
      }
      &__login:hover {
        transform: translateY(-0.1875em);
      }
      &__new{
        a{
          text-decoration: none;
          color: $header-text;
          background: radial-gradient($btn-pink, $btn-red);
          padding: 13px;
          border-radius: 10px;
        }
      }
      &__new:hover {
        transform: translateY(-0.1875em);
      }
    }
  }

  .book-comment {
    width: 700px;
    color: $text-black;
    padding: 35px 10px 20px;
    margin: 0 auto;
    background-color: $back-white;
    font-size: 15px;
    &__area {
    width: calc(100% - 60px);
    margin: 0 auto;
    padding: 10px;
    color: $text-black;
    font-size: 17px;
    margin-bottom: 20px;
    .comment-user__box {
      margin: 20px 5px 10px;
      display: flex;
    }
    .comment-user__image {
      background-color: $item-back;
      height: 45px;
      width: 45px;
      border-radius: 10px;
      /* 仮置き */
      .comment-user__kari {
        font-size: 5px;
        color: $text-gray;
      }
    }
    .comment-user__small {
      padding: 2px;
      font-size: 12px;
      color: $text-gray;
      border: 1px solid $form-border;
      border-radius: 5px;
    }
    .comment-user__text {
      color: $text-black;
      margin: 5px 0 0 10px;
      padding-left: 5px;
      border-left: 2px solid $form-border;
    }
      .no-comment {
        color: #636363;
        font-size: 17px;
      }
    }
  }
}