* {
  box-sizing: border-box;
}

.body {
  position: relative;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  font-family: "Playfair Display", serif;
  background-color: #e3e3e3;
  font-size: 14px;
  line-height: 1;
  min-height: 100%;
  
  .header {
    padding: 0 60px;
    height: 110px;
    background: $footer-pink;
    &__inner {
      width:      100%;
      max-width: 1040px;
      min-height:  82px;
      margin: 0 auto;
      padding: 15px 0 0;
      
      .main-header {
        position: relative;
        display: flex;
        align-items: center;
        .icon {
          padding-bottom: 10px;
          margin-right:   30px;
          a {
            font-size: 25px;
            color: $text-white;
          }
        }
        .icon:hover {
          opacity: 0.6;
        }
        
        .search-box {
          width: 100%;
          margin-left: auto;
          .form {
            display: flex;
            margin-bottom: 5px;
            .search-box__text {
              width: calc(100% - 26px);
              height: 36px;
              padding: 0 0 0 5px;
            }
            .submit-btn {
              width: 36px;
              border: 0;
              cursor: pointer;
              background: radial-gradient($btn-pinksalmon, $btn-orange);
              padding: 8px;
              border: 3px solid #ff934b;
              border-radius: 15%;
              .search-button {
                margin:  0;
                padding: 0;
                &__image {
                  width: 100%;
                  vertical-align: bottom;
                }
              }
            }
            .submit-btn:hover {
              opacity: 0.6;
            }
            
          }
        }
      }
      
      .nav{
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
        .list-left {
          display: flex;
          .list-left__first {
            margin-right: 30px;
            a{
              text-decoration: none;
              color: $header-text;
            }
          }
          .list-left__first:hover {
            transform: translateY(-0.1875em);
          }
        
        }
        
        .list-right{
          display: flex;
          &__login,
          &__new {
            margin-right: 30px;
            a{
              text-decoration: none;
              color: $header-text;
            }
          }
          &__mypage {
            a {
              color: $header-text;
            }
          }
          &__logout {
            margin-right: 30px;
            a{
              color: $header-text;
            }
          }
          &__login:hover,
          &__new:hover,
          &__mypage:hover,
          &__logout:hover {
            transform: translateY(-0.1875em);
          }
        }
        
      }
    }
  }
  
}