.time-box{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  -webkit-transition: all 1.2s ease;
          transition: all 1.2s ease;
  color: #fff;
  background-color: #333; 
}

.spinner{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  transform-origin:center;
  width:120px;
  height:120px;
  
  span{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    font-size:12px;
  }

  &.type8{
    width:20px;
    height:20px;
    border-radius:50%;
    animation:spinner8_1 1.4s infinite linear;
    span{
      animation:spinner8_loading_text 1.4s infinite linear;
    }
  }
}

.time-box.loaded{
  opacity:0;
  visibility:hidden;
  pointer-events:none;
}