.mypage-body {
  margin: 15px;
  height: 850px;
  border: 2px solid #ffd2d2;
  border-radius: 4px;
  .mypage-user {
    width: 100%;
    height: 180px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px #ffe5e5;
    border-radius: 4px;
    &__image {
      margin: 20px;
      height: 100px;
      width: 100px;
      border: 1px solid #ffd2d2;
      border-radius: 4px;
      text-align: center;
      .fas.fa-camera {
        color: #d6d6d6;
        margin-top: 43px;
      }
    }
    &__name {
      color: #484848;
      left: 20px;
      font-size: 23px;
      padding-bottom: 10px;
      border-bottom: solid 1px #ffe5e5;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
    &__sub {
      color: #808080;
      font-size: 14px;
      margin-left: 10px;
    }
  }

  .mypage-box {
    padding: 20px;
    .mypage-post {
      float: right;
      height: 605px;
      width: 70%;
      background-color: #fff;
      border: 1px solid #ffd2d2;
      border-radius: 4px;
      margin: 10px;	
      &__title {
        color: #484848;
        text-align: center;
        font-size: 16px;
        background-color: #fff7f7;
        padding: 20px 0;
        border: 1px solid #ffd2d2;
      }
      .mypage-post__content {
        padding: 10px;
        height: 545px;
        border: 1px solid #ffd2d2;
      }
    }
    .mypage-left {
      height: 242px;
      width: 27%;
      border: 1px solid #ffd2d2;
      border-radius: 4px;
      margin: 10px 0 0 10px;
      &__list {
        height: 60px;
        padding-left: 10px;
        border: 1px solid #ffe5e5;
        color: #484848;
        line-height: 60px;
      }
    }
  }
}

ul.mypage-left li {
  background-color: #fffafa;
}
ul.mypage-left li.selected {
  background-color: rgb(206, 206, 206);
}