.login-body {
  height: 100%;
  width: 50%;
  margin: 0 auto;
  border: 2px solid $form-border;
  border-radius: 4px;
  .login-form {
    color: $text-black;
    font-size: 25px;
    line-height: 80px;
    text-align: center;
    border-bottom: solid 1px $thin-border;
  }
  .login-item {
    margin: 30px;
    input[type="email"] {
      margin-bottom: 15px;
    }
    input[type="password"] {
      margin-bottom: 10px;
    }
  }
}