.mypage-body {
  margin: 15px;
  .mypage-user {
    width:  100%;
    height: 180px;
    background-color: $back-white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px $thin-border;
    border-radius: 4px;
    &__image {
      margin: 20px;
      height: 100px;
      width:  100px;
      border: 1px solid $input-border;
      border-radius: 4px;
      text-align: center;
      .fas.fa-camera {
        color: #d6d6d6;
        margin-top: 43px;
      }
    }
    &__name {
      color: $text-black;
      left: 20px;
      font-size: 23px;
      padding-bottom: 10px;
      border-bottom: solid 1px $thin-border;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
    &__sub {
      color: #808080;
      font-size: 14px;
      margin-left: 10px;
    }
  }

  .mypage-box {
    padding: 20px;
    .mypage-post {
      float: right;
      height: 605px;
      width: 70%;
      background-color: $back-white;
      margin: 10px;	
      &__title {
        color: $text-black;
        text-align: center;
        font-size: 16px;
        background-color: #fffaf7;
        padding: 20px 0;
        border: 1px solid $input-border;
        border-radius: 4px;
      }
      .mypage-post__content {
        padding: 10px 10px 30px;
      }
    }
    .mypage-left {
      height: 242px;
      width: 27%;
      border: 1px solid $input-border;
      border-radius: 4px;
      margin: 10px 0 0 10px;
      &__list {
        height: 60px;
        padding-left: 10px;
        border: 1px solid $thin-border;
        color: $text-black;
        line-height: 60px;
      }
    }
  }
}

ul.mypage-left li {
  background-color: #fffcfa;
}
ul.mypage-left li.selected {
  background-color: #cecece;
}