.blank-content {
  width: 100%;
  height: 20px;
  background-color: $back-white;
}

.user-new__form {
  height: 100%;
  width:   50%;
  background-color: $text-white;
  margin: 0 auto;
  border: 2px solid $form-border;
  border-radius: 4px;
  
  &--title {
    height: 100px;
    border-bottom: solid 1px $thin-border;
    text-align: center;
    h2 {
      color: $text-black;
      font-size: 25px;
      line-height: 100px;
    }
  }
  
  &--for {
    width: 350px;
    padding: 30px;
    .nickname-field,
    .email-field,
    .password-field,
    .confimation-field {
      margin-top: 40px;
      &__text {
        color: $text-black;
        float: left;
        margin-bottom: 3px;
      }
    }
    .actions {
      margin-top: 60px;
    }
  }

}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  height: 40px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid $input-border;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border: 3px solid $focus-border;
  outline: 0;
}

input[type="submit"] {
  width: 100%;
  height: 40px;
  background: radial-gradient($image-back, $footer-pink);
  color: $text-white;
  font-size:  18px;
  text-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
  margin: 25px 0;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid $submit-border;
}

a {
  color: $text-black;
  text-decoration: none;
}

.require {
  margin-left: 8px;
  background-color: #f10000;
  padding: 2px 4px;
  color: $text-white;
  font-size: 15px;
  vertical-align: top;
  border-radius: 2px;
}

.any {
  margin-left: 8px;
  background-color: lightgray;
  padding: 2px 4px;
  color: $text-white;
  font-size: 15px;
  vertical-align: top;
  border-radius: 2px;
}

#link-signin {
  text-align: center;
  margin-top:     20px;
  padding-bottom: 30px;
  a {
    font-size: 18px;
    color: $text-black;
  }
}

#link-signup {
  text-align: center;
  margin-top: 20px;
  a {
    font-size: 18px;
    color: $text-black;
  }
}

#link-forgetpassword {
  margin-top:     25px;
  padding-bottom: 30px;
  a {
    display: block;
    font-size: 13px;
    color: #e85d00;
  }
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.bold {
  font-weight: 550;
}

.padding {
  padding-bottom: 50px;
}