#home {
  clip-path: url(#cache);
}

#yellow {
  fill: none;
  opacity: 0.1;
  stroke:  $line-yellow;
  stroke-width:      12;
  stroke-miterlimit: 10;
  animation:                     show 4s;
  animation-fill-mode:          forwards;
  animation-iteration-count:    infinite;
  animation-timing-function: ease-in-out; 
}
#green {
  fill: none;
  opacity: 0.1;
  stroke:  $line-green;
  stroke-width:      12;
  stroke-miterlimit: 10;
  animation:                     show 4s;
  animation-fill-mode:          forwards;
  animation-iteration-count:    infinite;
  animation-timing-function: ease-in-out;
}
#light-green {
  fill: none;
  opacity: 0.1;
  stroke:  $line-green;
  stroke-width:        6;
  stroke-miterlimit:  10;
  stroke-dasharray:  200;
  stroke-dashoffset: 800;
  animation:                     draw 4s;
  animation-fill-mode:          forwards;
  animation-iteration-count:    infinite;
  animation-timing-function: ease-in-out;
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes show {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.1;
  }
}