.contents.row {
  height: 100%;
  display:   flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .content-post__box {
    border: 2px solid $thick-border;
    border-radius: 3%;
    margin: 10px;
    position: relative;
    .content-post {
      height: 300px;
      width:  225px;
      color: $text-white;
      background-size:      cover;
      background-position: center;
      border-radius: 3px;
      border-radius: 3%;
      margin: 10px 10px 2px;
      a {
        position: absolute;
        top:  0;
        left: 0;
        width:  100%;
        height: 100%;
      }
    }
    .content-post__list {
      display: flex;
      margin: 10px;
      .post-left {
        height: 25px;
        width:  65px;
        padding-left: 10px;
        border: 1px solid $thin-border;
        line-height: 25px;
        font-size: 12px;
        color: $text-black;
        background-color: $item-back;
      }
      .post-left__long {
        height: 100px;
        width:   65px;
        padding-left: 10px;
        border: 1px solid $thin-border;
        line-height: 100px;
        font-size: 12px;
        background-color: $item-back;
      }
    }
    .post-right {
      height: 25px;
      width: 160px;
      padding-left: 10px;
      border: 1px solid $thin-border;
      line-height: 25px;
      background-color: $detail-back;
    }
    .post-right__long {
      height: 100px;
      background-color: $detail-back;
      border: 1px solid $thin-border;
      .post-right__genre {
        height: 25px;
        width: 158px;
        padding-left: 10px;
        line-height: 25px;
        color: $text-black;
      }
    }
    
    .content-user {
      text-align: center;
      padding-bottom: 10px;
      &__name {
        margin: 0 auto;
        width:  calc(100% - 30px);
        border: 2px solid $thin-border;
        border-radius: 10px;
      }
    }

  }
}