.top-handling {
  width: 100%;
  padding: 60px 100px;
  margin:  30px 0;
  background-color: $back-white;
  display: flex;
  flex-wrap: wrap;
  .top-handling__contents {
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    .top-handling__list {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 0 10px;
      .top-handling__iamge{
        width: 175px;
        background:    -moz-linear-gradient(top, $back-white, $image-back);
        background: -webkit-linear-gradient(top, $back-white, $image-back);
        background:         linear-gradient(to bottom, $back-white, $image-back);
        border-radius: 10px;
        .top-image {
          width: 150px;
          margin: 0 auto;
          line-height: 120px;
          border-radius: 10px;
        }
      }
      .top-handling__sub{
        color: $text-black;
        margin: 38px 0 10px;
        font-size: 19px;
        font-weight: bold;
      }
    }
  }
}

.book-post__contents {
  margin: 30px 10px 10px;
  .book-post__new {
    background: radial-gradient($footer-pink, $back-white);
    font-family: 'Playfair Display', serif;
    width: 160px;
    text-align: center;
    font-size: 17px;
    line-height: 70px;
    color: $text-white;
    text-shadow: 0 6px 0 rgba(0, 0, 0, 0.1);
    border-radius: 15%;
    margin: auto;
    margin-bottom: 40px;
  }
}

a {
  .post-btn {
    width: 120px;
    background: radial-gradient($btn-pinksalmon, $btn-orange);
    text-align: center;
    border-radius: 30%;
    bottom: 32px;
    right: 32px;
    position: fixed;
    padding: 15px;
    .post-btn__text{
      color: $text-white;
      display: block;
      font-size: 16px;
      text-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
      margin-bottom: 5px;
    }
    .post-btn__icon{
      .post-btn__image{
        width: 60%;
        mix-blend-mode: screen;
      }
    }
  }
  .post-btn:hover {
    transform: translateY(-0.1875em);
  }
}

.footer-line {
  height: 100px;
  width:  100%;
  background: linear-gradient($back-white, $footer-pink) fixed;
}

footer {
  background: linear-gradient($back-white, $footer-pink) fixed;
  position: relative;
  height: 100px;
  width:  100%;
  color: $header-text;
  .footer-item {
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    border: 2px solid #ffdcc0;
    border-radius: 20px;
    padding: 10px;
    a {
      color: $text-white;
    }
  }
  .footer-item :hover {
    opacity: 0.6;
  }
}