.contents {
  background-color: $back-white;
  height: 100%;
  width:  100%;
  
  .book-sh__page {
    width: 700px;
    background-color: $back-white;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    border: 2px solid $form-border;
    border-radius: 4px;
  }

  .book-sh__title {
    color: #a8a8a8;
    padding-top: 10px;
    text-align: center;
    font-size:  12px;
    font-weight: 200;
  }

  .book-sh__name {
    height: 50px;
    margin-bottom: 20px;
    border-bottom: 1px solid $thin-border;
    text-align: center;
    color: $text-black;
    line-height: 45px;
    font-size:  30px;
    font-weight: 650;
    .book-sh__usertitle {
      margin-top: 290px;
      height: 20px;
      width:  15%;
      display: flex;
      font-size: 14px;
      color: #7c7c7c;
      .book-sh__usernick {
        font-size: 16px;
        color: $text-black;
        padding-left: 3px;
      }
      .book-sh__usernick:hover {
        opacity: 0.6;
      }
    }
  }

  .book-sh__image {
    height: 300px;
    width:  225px;
    color: $text-white;
    background-size:      cover;
    background-position: center;
    border-radius: 3px;
    margin: 10px 10px 2px;
    margin: 0 auto;
  }

  .book-sh__table {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    background-color: #ffeee0;
    border: 1px solid $form-border;
    border-radius: 4px;
  }

  .data-list {
    height: 60px; //以下[data-list__long]に同じ
    width: 180px;
    padding-left: 10px;
    border: 1px solid $thin-border;
    color: $text-black;
    background-color: $item-back;
    line-height: 60px;
  }
  .data-list__long {
    height: 200px; //以下[data-list]に同じ
    width:  180px;
    padding-left: 10px;
    border: 1px solid $thin-border;
    color: $text-black;
    background-color: $item-back;
    line-height: 60px;
  }

  .detail-list {
    height: 60px;
    padding-left: 10px;
    line-height: 60px;
    table-layout: fixed; //以下[detail-list__long]に同じ
    width: 460px;
    background-color: $back-white;
    border: 1px solid $thin-border;
    color: $text-black;
  }
  .detail-list__long {
    height: 200px;
    padding: 10px;
    line-height: 23px;
    overflow-wrap : break-word; //以下[detail-list]に同じ
    width: 460px;
    background-color: $back-white;
    border: 1px solid $thin-border;
    color: $text-black;
  }

}