/*!
 * YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/)
 * http://cssreset.com
 * Copyright 2012 Yahoo! Inc. All rights reserved.
 * http://yuilibrary.com/license/
 */
/*
    TODO will need to remove settings on HTML since we can't namespace it.
    TODO with the prefix, should I group by selector or property for weight savings?
*/

/* sass-normal */
$normal-black: #000;
$normal-white: #fff;

/**/
html {
  color:      $normal-black;
  background: $normal-white;
}

/*
  TODO remove settings on BODY since we can't namespace it.
*/
/*
  TODO test putting a class on HEAD.
      - Fails on FF.
*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin:  0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}

/*
  TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style:  normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content:'';
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}

/* to preserve line-height and selector appearance */
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select {
  font-family: inherit;
  font-size:   inherit;
  font-weight: inherit;
}

/*to enable resizing for IE*/
input,
textarea,
select {
  *font-size: 100%;
}

/*because legend doesn't inherit in IE */
legend {
  color: $normal-black;
}

/* YUI CSS Detection Stamp */
#yui3-css-stamp.cssreset { display: none; }

/* sass */
/* sass-normal.scss ！以下scss省略！
$normal-black: #000; ↑<13
$normal-white: #fff; ↑<14
*/
/* border ---------- */
$thick-border:   #ffecde; /* bookpost */
$thin-border:    #fff0e5; /* book_show,bookpost,user_login,user_new,user_pass,user_show */
/* text ------------ */
$text-white:     #fff;    /* book_index,book_new,book_show,bookpost,user_new,header,wave_box */
$text-black:     #484848; /* book_show,bookpost,user_login,user_new,user_pass,user_show,comment */
$text-gray:      #6d6d6d; /* comment */
$header-text:    #f5f5f5; /* book_new,header */
$notuser-text:   #f19252; /* comment */
/* back ------------- */
$back-white:     white;   /* book_index,book_new,book_show,user_new,user_show,comment,wave_box */
$item-back:      #fff5ef; /* book_index,book_new,book_show,bookpost,comment */
$detail-back:    #fff9f6; /* book_new,bookpost */
$image-back:     #ffd7b8; /* user_new */
/* form ------------ */
$input-border:   #ffe3d2; /* book_new,user_new,user_show */
$focus-border:   #ffaf65; /* book_new,comment */
$form-border:    #ffead4; /* book_show,user_login,user_new,user_pass,comment */
$submit-border:  #ffc280; /* user_new,comment */
/* btn ------------- */
$btn-pinksalmon: #ffbb96; /* book_index,comment,header */
$btn-orange:     #ff8d35; /* book_index,comment,header */
/* その他 ----------- */
$footer-pink:    #eeb688; /* book_index,user_new,header */

/* backline.scss --- */
$line-yellow:    #cecb1b;
$line-green:     #7bc406;


/*one-colors,cssFile
  book_index [#ffdcc0<104]
  book_new   [#e2e2e2<26]
  book_show  [#a8a8a8<17][#7c7c7c<39]  [#ffeee0<66]
  user_new   [#f10000<83][lightgray<93][#e85d00<126]
  user_show  [#d6d6d6<20][#808080<36]  [#fffaf7<54]
             [#fffcfa<81][#cecece<84]
  comment    [#ffa87f<4] [#636363<125]
  header     [#e3e3e3<9] [#ff934b<59]
  time_box   [#ffe9da<11]
  wave_box   [#f0f4c3<4] [#aaff00<15][#ffb700<32][#ffe0c8<91]
*/