/*!
 * YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/)
 * http://cssreset.com
 * Copyright 2012 Yahoo! Inc. All rights reserved.
 * http://yuilibrary.com/license/
 */
/*
    TODO will need to remove settings on HTML since we can't namespace it.
    TODO with the prefix, should I group by selector or property for weight savings?
*/

/* sass-normal */
$normal-black: #000;
$normal-white: #fff;

/**/
html{
  color:      $normal-black;
  background: $normal-white;
}

/*
  TODO remove settings on BODY since we can't namespace it.
*/
/*
  TODO test putting a class on HEAD.
      - Fails on FF.
*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin:  0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}

/*
  TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style:  normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content:'';
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}

/* to preserve line-height and selector appearance */
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select {
  font-family: inherit;
  font-size:   inherit;
  font-weight: inherit;
}

/*to enable resizing for IE*/
input,
textarea,
select {
  *font-size: 100%;
}

/*because legend doesn't inherit in IE */
legend {
  color: $normal-black;
}

/* YUI CSS Detection Stamp */
#yui3-css-stamp.cssreset { display: none; }

/* sass */
/* border */
$thick-border:   #ffecde;
$thin-border:    #fff0e5;
/* text */
$text-black:     #484848;
$text-gray:      #6d6d6d;
$text-white:     #fff;
$header-text:    #f5f5f5;
$notuser-text:   #f19252;
/* back */
$item-back:      #fff5ef;
$detail-back:    #fff9f6;
$image-back:     #ffd7b8;
$back-white:     white;
/* form */
$input-border:   #ffe3d2;
$focus-border:   #ffaf65;
$form-border:    #ffead4;
$submit-border:  #ffc280;
/* btn */
$btn-pinksalmon: #ffbb96;
$btn-orange:     #ff8d35;
/* その他 */
$footer-pink:    #eeb688;
/* backline.scss */
$line-yellow:    #cecb1b;
$line-green:     #7bc406;
/* sass-normalの設定は上に記載
$normal-black: #000;
$normal-white: #fff;
*/

/*one-colors,cssFile
  header     #e3e3e3,#ff934b
  book_show  #a8a8a8,#7c7c7c,#ffeee0
  book_index #ffdcc0
  book_new   #e2e2e2
  user_new   #f10000,lightgray,#e85d00
  user_show  #d6d6d6,#808080,#fffaf7,#fffcfa,#cecece
  comment    #ffa87f,#636363
  time_box   #ffe9da
  wave_box   #f0f4c3,#aaff00,#ffb700,#ffe0c8
*/